<html>
    <head>
        <title>Bestaurants.edu</title>
    </head>
    <body>

        {% if restaurants is not empty %}
            <p>Here's your restaurant:</p>
                {% for restaurant in restaurants %}
                    <h2>{{ restaurant.getName }}</h2>
                    <p>{{ restaurant.getDescription }}</p>
                {% endfor %}
        {% endif %}

        <p><a href='/'>Home</a></p>
    </body>
</html>
